@model IList<NLTD.EmployeePortal.LMS.Common.DisplayModel.LeaveBalanceEmpProfile>
<script type="text/javascript" src="~/Scripts/lms.js?v=1.06"></script>
<script src="~/Scripts/bootbox.min.js"></script>
<style type="text/css">
    .panel-group .panel {
        border-radius: 0;
        box-shadow: none;
        border-color: #EEEEEE;
    }

    .panel-default > .panel-heading {
        padding: 0;
        border-radius: 0;
        color: #FFFFFF;
        background-color: #4894B3;
        border-color: #EEEEEE;
    }

    .panel-title {
        font-size: 12px;
    }

        .panel-title > a {
            display: block;
            padding: 9px;
            text-decoration: none;
        }

    .more-less {
        float: right;
        color: #212121;
    }

    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border-top-color: #EEEEEE;
    }

    /* ----- v CAN BE DELETED v ----- */
    body {
        background-color: #26a69a;
    }
</style>
@{
    if (Model.Count == 0)
    {
        <div id="alert" class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">x</span>
            </button>
            No matching records found.
        </div>
    }
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        @for (int i = 0; i < Model.Count; i++)
        {
            <div class="panel panel-default">
               
                
                    <div class="panel-body">
                        @*@Html.Partial("~/Views/Profile/EmployeeLmsProfilePartial.cshtml", Model[i])*@
                        <div class="row">
                            <div class="col-sm-12">
                                <div>
                                    <form role="form" method="post" id="frmLeaveBalance" enctype="multipart/form-data" action="/Profile/SaveLeaveBalance">
                                        @Html.Hidden("UserId", Model[i].employeeLeaveBalanceProfile.UserId, new { @id = "UserId" })
                                        <div class="box-footer">
                                            <div id="conformBox"></div>
                                            <div class="col-sm-5" style="left:-15px;">
                                                <span style="font-weight:bold">Name: @Model[i].employeeLeaveBalanceProfile.FirstName @Model[i].employeeLeaveBalanceProfile.LastName</span>
                                            </div>
                                            <div class="col-sm-2" style="left:-15px;">
                                                <span style="font-weight:bold">Employee Id: @Model[i].employeeLeaveBalanceProfile.EmployeeId</span>
                                            </div>
                                            <div class="col-sm-5" style="padding-right:0px">
                                                <span style="font-weight:bold">Reporting To: @Model[i].employeeLeaveBalanceProfile.ReportedToName</span>
                                            </div>
                                        </div>
                                        <div class="box-body">
                                            @for (int j = 0; j < Model[i].lstEmployeeLeaveBalance.Count; j++)
                                            {
                                                @Html.Hidden("LeaveTypeId", Model[i].lstEmployeeLeaveBalance[j].LeaveTypeId, new { @id = "LeaveTypeId" + j })
                                                @Html.Hidden("LeaveBalanceId", Model[i].lstEmployeeLeaveBalance[j].LeaveBalanceId, new { @id = "LeaveBalanceId" + j })
                                                <div class="row">
                                                    <div class="col-sm-3" style="width:18%;">
                                                        <div class="form-group">
                                                            @Html.Label("Leave Type")
                                                            @Html.TextBox("LeaveType", Model[i].lstEmployeeLeaveBalance[j].Type, null, new { @class = "form-control", @readonly = true, @id = "LeaveType" + j })
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3" style="width:16%;">
                                                        <div class="form-group">
                                                            @Html.Label("Existing Leave Balance")
                                                            @Html.TextBox("BalanceDays", Model[i].lstEmployeeLeaveBalance[j].BalanceDays, null, new { @class = "form-control", @readonly = true, @id = "BalanceDays" + j })
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3" style="width:25%;">
                                                        <div class="form-group">
                                                            @Html.Label("Transaction Type")
                                                            @Html.LabelFor(e => Model[i].lstEmployeeLeaveBalance[j].NoOfDays, new { @style = "margin-left:2%;" })
                                                            <div>
                                                                @Html.DropDownList("CreditOrDebit", new List<SelectListItem>
                                                                {
                                                                    new SelectListItem{ Text="Credit", Value = "C" },
                                                                    new SelectListItem{ Text="Debit", Value = "D" }
                                                                 }, new { @onchange = "AddTotalDays(" + j + ")", @class = "form-control", @style = "float:left;width:42%;", @id = "CreditOrDebit" + j })
                                                            </div>

                                                            <div>
                                                                @Html.TextBox("NoOfDays", Model[i].lstEmployeeLeaveBalance[j].NoOfDays, null, new
                                                           {
                                                               @class = "form-control",
                                                               @onchange = "AddTotalDays(" + j + ")",
                                                               @id = "NoOfDays" + j,
                                                               @style = "float:right;width: 55%",
                                                               @onkeypress = "return isNumberKey(event,this)",
                                                               autocomplete = "off"
                                                           })
                                                                @Html.ValidationMessageFor(e => Model[i].lstEmployeeLeaveBalance[j].NoOfDays, null, new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3" style="width:16%;">
                                                        <div class="form-group">
                                                            @Html.Label("Total Leave Balance")
                                                            @Html.TextBox("TotalDays", Model[i].lstEmployeeLeaveBalance[j].TotalDays, null, new { @class = "form-control", @id = "TotalDays" + j, @readonly = true, autocomplete = "off" })
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            @Html.Label("Remarks")
                                                            @Html.TextBox("Remarks", Model[i].lstEmployeeLeaveBalance[j].TotalDays, null, new { @class = "form-control", @id = "Remarks" + j, autocomplete = "off" })
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            <div class="box-footer">
                                                <div class="col-sm-10">
                                                </div>
                                                <div class="col-sm-2" style="right:-25px;">
                                                    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("SearchLeaveBalanceProfile", "Profile")'">CLEAR</button>
                                                    <button type="button" id="btnsave" class="btn btn-primary pull-right" onclick="SubmitLeaveBalanceForm(@Model[i].lstEmployeeLeaveBalance.Count)">SAVE</button>
                                                </div>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
              
            </div>
        }
    </div>
}




