
<style type="text/css">
    .ui-autocomplete {
        height: 220px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
</style>
@model NLTD.EmployeePortal.LMS.Common.QueryModel.EmployeeProfileSearchModel

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
@section scripts
{
    <script src="~/Scripts/jquery-2.2.4.js"></script>
    <script src="~/Scripts/lms.js?v=1.04"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script type="text/JavaScript">
        $(document).ready(function () {

            $("#Name").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Admin/GetEmployeeList",
                        type: "POST",
                        dataType: "json",
                        data: { term: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.Name, value: item.UserId };
                            }))


                        }
                    })
                },
                select: function (event, ui) {
                    event.preventDefault();
                    $("#SearchUserID").val(ui.item.value);

                },
                focus: function (event, ui) {
                    event.preventDefault();
                    $("#Name").val(ui.item.label);
                },
                search: function (event, ui) {
                    $("#SearchUserID").val("");
                }
            });


        });

        function CheckAutoCompleteName() {
            if ($("#SearchUserID").val() == "") {
                SetUserIDForAutoCompleteName(nameList, $("#Name").val(), "SearchUserID");
                if (!ValidateAutocompleteName($("#Name").val(), $("#SearchUserID").val())) {
                    return false;
                }
            }
            return true;
        }
    </script>

}

@{
    @Html.Hidden("RequestLevelPerson", Model.RequestLevelPerson)
    @Html.HiddenFor(x => x.SearchUserID)
    if (Model.RequestLevelPerson != "My")
    {

    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Employee Profile</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-5">
                           
                                    @Html.LabelFor(x => x.Name)
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                
                        </div>
                        <div class="col-sm-4">
                            @{ if (Model.RequestLevelPerson == "Team")
                                {
                                    <p style="padding-top:27px;"> @Html.CheckBoxFor(m => m.OnlyReportedToMe)   My Direct Reportees</p>
                                }
                                else if (Model.RequestLevelPerson == "Admin")
                                {
                                    <p style="padding-top:30px;"> @Html.CheckBoxFor(m => m.HideInactiveEmp)   Hide Inactive Employees </p>
                                }
                            }
                        </div>
                        <div class="col-sm-3" style="padding-top:27px;">
                            <button type="button" class="btn btn-primary pull-right" onclick="loadTeamProfiles()">SEARCH</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                                }


    <div id="divEmpProfile"></div>

}

@section readyscript{
    <script>
        $("document").ready(function () {
            if ($("#RequestLevelPerson").val() != "Admin") {
                loadTeamProfiles()
            }
                });
    </script>


}


