@model NLTD.EmployeePortal.LMS.Common.DisplayModel.LeaveRequestModel

@section scripts
{
    <script src="~/Scripts/jquery-2.2.4.js"></script>
    <script src="~/Scripts/lms.js?v=1.07"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>
    <link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/jquery/dist/jquery.timepicker.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.timepicker.min.js"></script>
    <script src="~/Scripts/bootbox.min.js"></script>

    <script type="text/JavaScript">

        $(document).ready(function () {

            var date = new Date();

            var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
            var minDate = new Date(date.getFullYear(), date.getMonth() - 8, date.getDate());
            var maxDate = new Date(date.getFullYear(), date.getMonth() + 8, date.getDate());

            $('.datepicker').datetimepicker(
                {
                    viewMode: "days",
                    minDate: minDate,
                    maxDate: maxDate,
                    format: "DD/MM/YYYY",
                    //showToday: true,
                    daysOfWeekDisabled: returnArray(),
                    disabledDates: returnHolidayArray()
                }
                )
    .on('dp.change', function (e) {
        CountLeaveDays();

    })
        });
    </script>

}

@using (Ajax.BeginForm("SaveLeaveRequest", "Leaves", FormMethod.Post,
              new AjaxOptions
              {
                  LoadingElementId = "divLoading",
                  OnComplete="applyComplete"
              }, new { id = "frmSubmitLeave" }))
{

    @Html.Hidden("hdnLeaveFromTime", Model.LeaveFromTime)
    @Html.Hidden("hdnLeaveUptoTime", Model.LeaveUptoTime)

    @Html.Hidden("hdnLeaveFrom", Model.LeaveFrom)
    @Html.Hidden("hdnLeaveUpto", Model.LeaveUpto)
    @Html.Hidden("hdnWeekOff", Model.WeekOffs)
    @Html.Hidden("hdnHolidays", Model.holidayDates)
    @Html.Hidden("hdnTimebasedLeaveTypeIds", Model.TimebasedLeaveTypeIds)
    @Html.HiddenFor(m=>m.IsTimeBased)

    <div id="alert_placeholder"></div>
        @*if (Model.ErrorMesage == "Saved")
                    {
                        <div class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">x</span>
                            </button>
                            Request submitted Successfully.
                        </div>

                    }
                    else if (Model.ErrorMesage == "EmailFailed")
                    {
                        <div class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">x</span>
                            </button>
                            Request submitted Successfully,but sending email failed. Please inform your Reporting Person.
                        </div>

                    }
                    else if (Model.ErrorMesage != "" && Model.ErrorMesage != null)
                    {
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">x</span>
                            </button>
                            @Model.ErrorMesage
                        </div>
            }*@

        <div class="row">
            <div class="col-sm-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Apply New Request</h3>
                    </div>
                    @*<form role="form" method="post">*@
                    <div class="box-body">

                        <div class="row">
                            <div class="col-sm-4">
                                @Html.Label("Request Type")
                                <select id="LeaveType" name="LeaveType" class="form-control" onchange="hourEntryLayout()">
                                    @{
                                        foreach (var item in Model.lstLeavTypes)
                                        {
                                            if (Model.LeaveType == item.LeaveTypeId)
                                            {
                                                <option value="@item.LeaveTypeId" selected="selected">@item.LeaveTypeText</option>
                                            }
                                            else
                                            {
                                                <option value="@item.LeaveTypeId">@item.LeaveTypeText</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>

                            <div class="col-sm-2">
                                <div class="form-group">
                                    <div class="duration">
                                        @Html.Label("From")
                                    </div>
                                    <div class="timeentry" style="display:none">
                                        @Html.Label("Date")
                                    </div>
                                    @Html.TextBox("LeaveFrom", Model.LeaveFrom.ToString("DD/MM/YYYY"), new { @class = "form-control datepicker" })
                                    @*@Html.TextBoxFor(m=>m.LeaveFrom, new { @class = "form-control datetpicker"})*@
                                </div>
                            </div>
                            <div class="col-sm-2 duration">
                                <div class="form-group">
                                    @Html.Label("Part Of Day")
                                    <select id="LeaveFromTime" name="LeaveFromTime" class="form-control" onchange="CountLeaveDays()">

                                        <option value="A">Full Day</option>

                                        <option value="F">First Half</option>

                                        <option value="S">Second Half</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-2 duration firsthalfonly">
                                @Html.Label("To")

                                @Html.TextBox("LeaveUpto", Model.LeaveUpto.ToString("DD/MM/YYYY"), new { @class = "form-control datepicker" })
                            </div>
                            <div class="col-sm-2 duration halfday">
                                <div class="form-group">
                                    @Html.Label("Part Of Day")
                                    <select id="LeaveUptoTime" name="LeaveUptoTime" class="form-control" onchange="CountLeaveDays()">
                                        <option value="A">Full Day</option>
                                        <option value="F">First Half</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3 timeentry" style="display:none">
                                @Html.Label("From Time")
                                @Html.TextBoxFor(e => e.PermissionTimeFrom, null, new { @class = "form-control timepicker" })
                            </div>
                            <div class="col-sm-3 timeentry" style="display:none">
                                @Html.Label("To Time")
                                @Html.TextBoxFor(e => e.PermissionTimeTo, null, new { @class = "form-control timepicker" })
                            </div>
                        </div>
                        <div class="row" style="padding-bottom:1em">
                            <div class="col-sm-2 duration">
                                @Html.Label("", "No. Of Day(s)")
                                @Html.TextBoxFor(e => e.NumberOfDays, null, new { @class = "form-control", @readonly = "true" })
                            </div>
                            <div class="col-sm-2 duration">
                                <br />
                                <button type="button" id="btnShowDaysCalc" class="btn btn-link" style="padding-top:8px;" onclick="LoadLeaveDtlSplit()">Show Days Calculation</button>
                                <div id="LeaveDtlSplit" style="position:absolute; width:520px; background-color:white; z-index:9999;float:left;display:none;">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12" style="padding-bottom:1em">
                                @Html.LabelFor(e => e.Reason, new { @class = "required" })
                                @Html.TextAreaFor(e => e.Reason, 3, 10, new { style = "width:100%; float: left;" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12" style="padding-bottom:1em">
                                <button type="button" class="btn btn-block" style="color:steelblue;" data-toggle="collapse" data-target="#summary">View Leave Summary</button>
                                <div id="summary" class="collapse">
                                    <div id="divLeaveSummaryInApply"></div>
                                    @*@Html.Partial("~/Views/Leaves/LeaveSummaryFullPartial.cshtml", Model.lstSummary)*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div id="conformBox"></div>
                        <div class="col-sm-10" style="left:-15px;">
                            <span style="font-weight:bold">Reporting To: @Model.ReportingToName</span>
                        </div>
                        <div class="col-sm-2" style="padding-right:0px">
                            <button type="button" class="btn btn-primary pull-right" id="btnSubmit" onclick="SubmitForm(this)">
                                APPLY
                            </button>
                        </div>
                    </div>
                    @*</form>*@
                    <div id="divSickLeaveMsg">
                        <p style="color:red;font-size:small"></p>
                    </div>
                </div>
            </div>
        </div>
                                        }
@section readyscript{
    <script>
        $("document").ready(function () {
            InitDateTimeDropdown($("#hdnLeaveFromTime").val(), $("#hdnLeaveUptoTime").val())
            //OnApplyLeaveLoad();

            if ($('#LeaveFrom').attr('value').toString().substr(0, 2) != "DD") {
                $('#LeaveFrom').data('DateTimePicker').date($('#LeaveFrom').attr('value'))
                $('#LeaveUpto').data('DateTimePicker').date($('#LeaveUpto').attr('value'))
            }
            loadApplyLeaveSummary();
            hourEntryLayout();
            hideElementsForHalfDay();
        });
    </script>
}