@model IList<NLTD.EmployeePortal.LMS.Common.DisplayModel.HolidayModel>

<style type="text/css">
    .HolidayNavClass {
        display: inline-block;
    }
    #previous[disabled], #next[disabled] {
        cursor: default;
        background-image: none;
        opacity: .65;
        filter: alpha(opacity=65);
        box-shadow: none;
    }
    #previous, #next {
        height: 2.0em;
        font-size: 0.75em;
    }
    #year {
        display: inline-block;
        font-size: 14px;
        padding: 0 10px;
    }
</style>

<div>
    <div class="box-header with-border">
        <h3 class="box-title">My Holidays</h3>
        <div class="box-tools col-md-8">
            <div class="col-md-7">
                <div class="fc fc-ltr fc-unthemed">
                    <div class="fc-button-group">
                        <button type="button" id="previous" class="fc-prev-button fc-button fc-state-default fc-corner-left" @ViewBag.PreviousYear>
                            <span class="fc-icon fc-icon-left-single-arrow"></span>
                        </button>
                        <div id="year">@ViewBag.HolidayYear</div>
                        <button type="button" id="next" class="fc-next-button fc-button fc-state-default fc-corner-right" @ViewBag.NextYear>
                            <span class="fc-icon fc-icon-right-single-arrow"></span>
                        </button>
                    </div>
                </div>
            </div>
            <span style="text-align: right; font-size: 14px; font-weight: bold; font-style: italic; color: maroon">
                @ViewBag.HolidayOfficeName
            </span>
        </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-sm-3">
                <h6 class="box-title">Date</h6>
            </div>
            <div class="col-sm-3">
                <h6 class="box-title">Day</h6>
            </div>
            <div class="col-sm-6">
                <h6 class="box-title">Holiday</h6>
            </div>

        </div>


        @{
            foreach (var item in Model)
            {
                <div class="row">
                    <div class="col-sm-3">
                        <p>@item.HolidayDate.ToShortDateString()</p>
                    </div>
                    <div class="col-sm-3">
                        <p>@item.HolidayDate.DayOfWeek</p>
                    </div>
                    <div class="col-sm-6" style="text-align: justify;">
                        <p>@item.HolidayText</p>
                    </div>

                </div>

            }
        }

    </div>
</div>

<script>
    $("document").ready(function () {
        var holidayYear;
        var updateHolidays = function () {
            $('#HolidayListPartialDiv').load("/Dashboard/ListHolidayByYear?year=" + holidayYear);
        };

        $('#previous').click(function () {
            holidayYear = $('#year').text();
            holidayYear--;
            updateHolidays();
        });

        $('#next').click(function () {
            holidayYear = $('#year').text();
            holidayYear++;
            updateHolidays();
        });

    });
</script>


