

@model IList<NLTD.EmployeePortal.LMS.Common.DisplayModel.DaywiseLeaveDtlModel>

<table id="Daywisetable_id"
       class="table table-condensed table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Emp Id")
            </th>
            <th>
                @Html.DisplayName("Name")
            </th>
            <th>
                @Html.DisplayName("Request Type")
            </th>
            <th>
                @Html.DisplayName("Request Date")
            </th>
            <th>
                @Html.DisplayName("Part of Day")
            </th>
            <th>
                @Html.DisplayName("Duration")
            </th>
            <th>
                @Html.DisplayName("Status")
            </th>
            <th>
                @Html.DisplayName("Reason")
            </th>
            <th>
                @Html.DisplayName("Approver Comments")
            </th>
          
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmpId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PartOfDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @{
                        if (item.LeaveStatus == "Pending")
                        {
                            <span class="text-purple">@item.LeaveStatus</span>
                        }
                        else if (item.LeaveStatus == "Approved")
                        {
                            <span class="text-green">@item.LeaveStatus</span>
                        }
                        else if (item.LeaveStatus == "Rejected")
                        {
                            <span class="text-red">@item.LeaveStatus</span>
                        }
                        else if (item.LeaveStatus == "Cancelled")
                        {
                            <span class="text-maroon">@item.LeaveStatus</span>
                        }

                    }
                    
                    
                </td>
                <td data-toggle="tooltip" title='@item.LeaveReason' data-placement="left">
                    @Html.DisplayFor(modelItem => item.ReasonShort)
                </td>
                <td data-toggle="tooltip" title='@item.ApproverComments' data-placement="left">
                    @Html.DisplayFor(modelItem => item.CommentsShort)
                </td>
            </tr>
        }
    </tbody>
</table>




