

@model IList<NLTD.EmployeePortal.LMS.Common.DisplayModel.MonthwiseLeavesCountModel>

<table id="Monthwisetable_id"
       class="table table-condensed table-striped table-hover">


    <thead>
        <tr>
            <th rowspan="2" >Emp Id</th>
            <th rowspan="2" >Name</th>
            <th colspan="4" style="text-align:center;">January</th>
            <th colspan="4" style="text-align:center;">February</th>
            <th colspan="4" style="text-align:center;">March</th>
            <th colspan="4" style="text-align:center;">April</th>
            <th colspan="4" style="text-align:center;">May</th>
            <th colspan="4" style="text-align:center;">June</th>
            <th colspan="4" style="text-align:center;">July</th>
            <th colspan="4" style="text-align:center;">August</th>
            <th colspan="4" style="text-align:center;">September</th>
            <th colspan="4" style="text-align:center;">October</th>
            <th colspan="4" style="text-align:center;">November</th>
            <th colspan="4" style="text-align:center;">December</th>
        </tr>
        <tr>            
            <th style="border-left:1px solid;">CL/SL</th>
            <th>EL</th>
            <th>LWP</th>
            <th>CO</th>
            <th style="border-left:1px solid;">CL/SL</th>
            <th>EL</th>
            <th>LWP</th>
            <th>CO</th>
            <th style="border-left:1px solid;">CL/SL</th>
            <th>EL</th>
            <th>LWP</th>
            <th>CO</th>
            <th style="border-left:1px solid;">CL/SL</th>
            <th>EL</th>
            <th>LWP</th>
            <th>CO</th>
            <th style="border-left:1px solid;">CL/SL</th>
            <th>EL</th>
            <th>LWP</th>
            <th>CO</th>
            <th style="border-left:1px solid;">CL/SL</th>
            <th>EL</th>
            <th>LWP</th>
            <th>CO</th>
            <th style="border-left:1px solid;">CL/SL</th>
            <th>EL</th>
            <th>LWP</th>
            <th>CO</th>
            <th style="border-left:1px solid;">CL/SL</th>
            <th>EL</th>
            <th>LWP</th>
            <th>CO</th>
            <th style="border-left:1px solid;">CL/SL</th>
            <th>EL</th>
            <th>LWP</th>
            <th>CO</th>
            <th style="border-left:1px solid;">CL/SL</th>
            <th>EL</th>
            <th>LWP</th>
            <th>CO</th>
            <th style="border-left:1px solid;">CL/SL</th>
            <th>EL</th>
            <th>LWP</th>
            <th>CO</th>
            <th style="border-left:1px solid;">CL/SL</th>
            <th>EL</th>
            <th>LWP</th>
            <th style="border-right:1px solid;">CO</th>
            
        </tr>
    </thead>




    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="border-left: 1px solid">
                    @Html.DisplayFor(modelItem => item.EmpId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.Label("", item.CL1.ToString("#.#"))
                </td>
                <td>
                    @Html.Label("", item.PL1.ToString("#.#"))                   
                </td>
                <td>
                    @Html.Label("", item.LWP1.ToString("#.#"))
                </td>
                <td>
                    @Html.Label("", item.CO1.ToString("#.#"))
                </td>

               
                <td>
                    @Html.Label("", item.CL2.ToString("#.#"))
                </td>
                <td>
                    @Html.Label("", item.PL2.ToString("#.#"))
                </td>
                <td>
                    @Html.Label("", item.LWP2.ToString("#.#"))
                </td>
                <td>
                    @Html.Label("", item.CO2.ToString("#.#"))
                </td>

                <td>
                    @Html.Label("", item.CL3.ToString("#.#"))
                </td>
                <td>
                    @Html.Label("", item.PL3.ToString("#.#"))
                </td>
                <td>
                    @Html.Label("", item.LWP3.ToString("#.#"))
                </td>
                <td>
                    @Html.Label("", item.CO3.ToString("#.#"))
                </td>

                <td>
                    @Html.Label("", item.CL4.ToString("#.#"))
                </td>
                <td>
                    @Html.Label("", item.PL4.ToString("#.#"))
                </td>
                <td>
                    @Html.Label("", item.LWP4.ToString("#.#"))
                </td>
                <td>
                    @Html.Label("", item.CO4.ToString("#.#"))
                </td>

                <td>
                    @Html.Label("", item.CL5.ToString("#.#"))
                </td>
                <td>
                    @Html.Label("", item.PL5.ToString("#.#"))
                </td>
                <td>
                    @Html.Label("", item.LWP5.ToString("#.#"))
                </td>
                <td>
                    @Html.Label("", item.CO5.ToString("#.#"))
                </td>

                <td>
                    @Html.Label("", item.CL6.ToString("#.#"))
                </td>
                <td>
                    @Html.Label("", item.PL6.ToString("#.#"))
                </td>
                <td>
                    @Html.Label("", item.LWP6.ToString("#.#"))
                </td>
                <td>
                    @Html.Label("", item.CO6.ToString("#.#"))
                </td>

                <td>
                    @Html.Label("", item.CL7.ToString("#.#"))
                </td>
                <td>
                    @Html.Label("", item.PL7.ToString("#.#"))
                </td>
                <td>
                    @Html.Label("", item.LWP7.ToString("#.#"))
                </td>
                <td>
                    @Html.Label("", item.CO7.ToString("#.#"))
                </td>

                <td>
                    @Html.Label("", item.CL8.ToString("#.#"))
                </td>
                <td>
                    @Html.Label("", item.PL8.ToString("#.#"))
                </td>
                <td>
                    @Html.Label("", item.LWP8.ToString("#.#"))
                </td>
                <td>
                    @Html.Label("", item.CO8.ToString("#.#"))
                </td>

                <td>
                    @Html.Label("", item.CL9.ToString("#.#"))
                </td>
                <td>
                    @Html.Label("", item.PL9.ToString("#.#"))
                </td>
                <td>
                    @Html.Label("", item.LWP9.ToString("#.#"))
                </td>
                <td>
                    @Html.Label("", item.CO9.ToString("#.#"))
                </td>

                <td>
                    @Html.Label("", item.CL10.ToString("#.#"))
                </td>
                <td>
                    @Html.Label("", item.PL10.ToString("#.#"))
                </td>
                <td>
                    @Html.Label("", item.LWP10.ToString("#.#"))
                </td>
                <td>
                    @Html.Label("", item.CO10.ToString("#.#"))
                </td>

                <td>
                    @Html.Label("", item.CL11.ToString("#.#"))
                </td>
                <td>
                    @Html.Label("", item.PL11.ToString("#.#"))
                </td>
                <td>
                    @Html.Label("", item.LWP11.ToString("#.#"))
                </td>
                <td>
                    @Html.Label("", item.CO11.ToString("#.#"))
                </td>

                <td>
                    @Html.Label("", item.CL12.ToString("#.#"))
                </td>
                <td>
                    @Html.Label("", item.PL12.ToString("#.#"))
                </td>
                <td>
                    @Html.Label("", item.LWP12.ToString("#.#"))
                </td>
                <td style="border-right:1px solid">
                    @Html.Label("", item.CO12.ToString("#.#"))
                </td>

            </tr>
                        }
    </tbody>
</table>

