


@model IList<NLTD.EmployeePortal.LMS.Common.DisplayModel.TimeSheetModel>

<style type="text/css">
    .red {
        color: red;
    }

    .weekoff {
        color: dodgerblue;
    }
</style>
<style type="text/css">
    .panel-group .panel {
        border-radius: 0;
        box-shadow: none;
        border-color: #EEEEEE;
    }

    .panel-default > .panel-heading {
        padding: 0;
        border-radius: 0;
        color: #FFFFFF;
        background-color: #4894B3;
        border-color: #EEEEEE;
    }

    .panel-title {
        font-size: 12px;
    }

        .panel-title > a {
            display: block;
            padding: 9px;
            text-decoration: none;
        }

    .more-less {
        float: right;
        color: #212121;
    }

    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border-top-color: #EEEEEE;
    }

    /* ----- v CAN BE DELETED v ----- */
    body {
        background-color: #26a69a;
    }
</style>
@if (ViewBag.RequestLevelPerson == "Team")
{
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        @for (int i = 0; i < Model.Count; i++)
                {
                    Int64 userID = Model[i].userID;
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="@("heading" + Model[i].userID)">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="@("#" + "collapse" + Model[i].userID)" aria-expanded="true" aria-controls="collapseOne">
                            <i class="more-less glyphicon glyphicon-plus"></i>
                            @Model[i].Name
                        </a>

                    </h4>
                </div>
                <div id="@("collapse" + Model[i].userID)" style="background-color:#ecf0f5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="@("heading" + Model[i].Name)">
                    <div class="panel-body">
                        <table class="table table-condensed table-striped table-hover dtatable">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayName("Name")
                                    </th>

                                    <th>
                                        @Html.DisplayName("Date")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Shift")
                                    </th>
                                    <th>
                                        @Html.DisplayName("In Time")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Out Time")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Working Hours")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Status")
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                @for (int j = i; j < Model.Count; j++)
                                {
                                    string statusStyle = string.Empty;
                                    if (Model[j].Status == "WeekOff")
                                    {
                                        statusStyle = "weekoff";
                                    }
                                    if (Model[j].userID != userID)
                                    {
                                        userID = Model[j].userID;
                                        i = j;
                                        break;
                                    }
                                    if (j == Model.Count - 1)
                                    {
                                        i = j;
                                        break;
                                    }
                                    <tr class="@statusStyle">
                                        <td>
                                            @Model[j].Name
                                        </td>
                                        <td>
                                            @if (Model[j].WorkingDate != null)
                                            {
                                                @Model[j].WorkingDate.ToString("dd-MM-yyyy");
                        }
                        else
                        {
                                                @Html.DisplayName("-")
                                            }
                                        </td>
                                        <td>

                                            @Model[j].Shift

                                        </td>
                                        <td>
                                            @if (Model[j].InTime == DateTime.MinValue)
                                            {
                                                @Html.DisplayName("-")
                                            }
                                            else if (Model[j].InTime != null)
                                            {
                                                @Model[j].InTime.ToString("HH:mm:ss");
                        }

                        else
                        {
                                                @Html.DisplayName("-")
                                            }
                                        </td>
                                        <td>

                                            @if (Model[j].OutTime == DateTime.MinValue)
                                            {
                                                @Html.DisplayName("-")
                                            }
                                            else if (Model[j].OutTime != null)
                                            {
                                                @Model[j].OutTime.ToString("HH:mm:ss")
                                            }
                                            else
                                            {
                                                @Html.DisplayName("-")
                                            }
                                        </td>
                                        <td>
                                            @Model[j].WorkingHours
                                        </td>
                                        <td>
                                            @Model[j].Status
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <table id="TimesheetTable_id"
           class="table table-condensed table-striped table-hover dtatable">
        <thead>

            <tr>


                
                <th>
                    @Html.DisplayName("Date")
                </th>
                <th>
                    @Html.DisplayName("Shift")
                </th>
                <th>
                    @Html.DisplayName("In Time")
                </th>
                <th>
                    @Html.DisplayName("Out Time")
                </th>
                <th>
                    @Html.DisplayName("Working Hours")
                </th>
                <th>
                    @Html.DisplayName("Status")
                </th>
            </tr>
        </thead>

        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    string statusStyle = string.Empty;
                    if (@item.Status == "WeekOff")
                    {
                        statusStyle = "weekoff";
                    }
                    <tr class="@statusStyle">


                        <td>
                            @if (item.WorkingDate != null)
                        {
                            @item.WorkingDate.ToString("dd-MM-yyyy");
                        }
                        else
                        {
                            @Html.DisplayName("-")
                            }
                        </td>
                        <td>

                            @item.Shift

                        </td>
                        <td>
                            @if (item.InTime == DateTime.MinValue)
                        {
                            @Html.DisplayName("-")
                            }
                            else if (@item.InTime != null)
                            {
                            @item.InTime.ToString("HH:mm:ss");
                        }

                        else
                        {
                            @Html.DisplayName("-")
                            }
                        </td>
                        <td>

                            @if (item.OutTime == DateTime.MinValue)
                        {
                            @Html.DisplayName("-")
                            }
                            else if (@item.OutTime != null)
                            {
                            @item.OutTime.ToString("HH:mm:ss")
                            }
                            else
                            {
                            @Html.DisplayName("-")
                            }
                        </td>
                        <td>
                            @item.WorkingHours
                        </td>
                        <td>
                            @item.Status
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}

