@using System;
@using System.Web.Mvc;
@using NLTD.EmployeePortal.LMS.Common.DisplayModel;

@model IList<TimeSheetModel>


<script type="text/javascript" src="~/Scripts/lms.js?v=1.03"></script>
<style type="text/css">
    .panel-group .panel {
        border-radius: 0;
        box-shadow: none;
        border-color: #EEEEEE;
    }

    .panel-default > .panel-heading {
        padding: 0;
        border-radius: 0;
        color: #FFFFFF;
        background-color: #4894B3;
        border-color: #EEEEEE;
    }

    .panel-title {
        font-size: 12px;
    }

        .panel-title > a {
            display: block;
            padding: 9px;
            text-decoration: none;
        }

    .more-less {
        float: right;
        color: #212121;
    }

    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border-top-color: #EEEEEE;
    }

    /* ----- v CAN BE DELETED v ----- */
    body {
        background-color: #26a69a;
    }

    .belowworkinghours {
        color: red;
    }

    .weekoff {
        color: dodgerblue;
    }

    .weeklytotal {
        background: #DFD5FD !important;
    }
    .monthlytotal {
        background: #BBCDFD !important;
    }
</style>

@if (Model.Count == 0)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">x</span>
        </button>
        No matching records found.
    </div>

            }
            else
            {
                TimeSheetConsolidate TimeSheetConsolidateObj = new TimeSheetConsolidate();
                if (ViewBag.RequestLevelPerson == "My")
                {
        <table id="TimesheetTable_id"
               class="table table-condensed table-striped table-hover dtatable">
            <thead>

                <tr>
                    <th>
                        @Html.DisplayName("Date")
                    </th>
                    <th>
                        @Html.DisplayName("Day")
                    </th>
                    <th>
                        @Html.DisplayName("Shift")
                    </th>
                    <th>
                        @Html.DisplayName("In Time")
                    </th>
                    <th>
                        @Html.DisplayName("Out Time")
                    </th>
                    <th>
                        @Html.DisplayName("Working Hours")
                    </th>
                    <th>
                        @Html.DisplayName("Status")
                    </th>
                    <th>
                        @Html.DisplayName("LMS Status")
                    </th>
                    <th>
                        @Html.DisplayName("Late Entry")
                    </th>
                    <th>
                        @Html.DisplayName("Early Leave")
                    </th>
                </tr>
            </thead>

            <tbody>
                @if (Model != null)
        {
            for (int i = 0; i < Model.Count; i++)
            {

                string statusStyle = string.Empty;
                if (Model[i].Status == "Week Off" || Model[i].Status == "Holiday")
                {
                    statusStyle = "weekoff";
                }
                else if (Model[i].WorkingHours < new TimeSpan(9, 0, 0) && Model[i].Status == "Present")
                {
                    statusStyle = "belowworkinghours";
                }
                        <tr>


                            <td>
                                @if (Model[i].WorkingDate != null)
                                {
                    @Model[i].WorkingDate.ToString("dd-MM-yyyy")
                                }
                                else
                                {
                    @Html.DisplayName("-")
                                }
                            </td>
                            <td>

                                @Model[i].WorkingDate.ToString("ddd")

                            </td>
                            <td>

                                @Model[i].Shift

                            </td>
                            <td>
                                @if (Model[i].InTime == DateTime.MinValue)
                                {
                    @Html.DisplayName("-")
                                }
                                else if (@Model[i].InTime != null)
                {
                    @Model[i].InTime.ToString("HH:mm:ss");
                }

                else
                {
                    @Html.DisplayName("-")
                                }
                            </td>
                            <td>

                                @if (Model[i].OutTime == DateTime.MinValue)
                                {
                    @Html.DisplayName("-")
                                }
                                else if (@Model[i].OutTime != null)
                {
                    @Model[i].OutTime.ToString("HH:mm:ss")
                                }
                else
                {
                    @Html.DisplayName("-")
                                }
                            </td>
                            <td class="@statusStyle">
                                @Model[i].WorkingHours
                            </td>
                            <td>
                                @Model[i].Status
                            </td>
                            <td>
                                @Model[i].LMSStatus
                            </td>
                            <td>
                                @Model[i].LateEntry
                            </td>
                            <td>
                                @Model[i].EarlyLeave
                            </td>
                        </tr>
                        if (Model[i].WorkingDate.ToString("ddd") == "Mon" || i == Model.Count - 1)
                        {
                            TimeSheetConsolidateObj = CalculateTimeSheetConsolidation(Model[i], TimeSheetConsolidateObj);
                            @GetWeeklyHoursHTML(TimeSheetConsolidateObj);
                            TimeSheetConsolidateObj = ClearWeeklyTimeSheetConsolidation(TimeSheetConsolidateObj);


                        }
                        else
                        {
                            TimeSheetConsolidateObj = CalculateTimeSheetConsolidation(Model[i], TimeSheetConsolidateObj);
                        }
                        if (Model[i].WorkingDate.Day == 1 || i == Model.Count - 1)
                        {
                            @GetMonthlyHoursHTML(TimeSheetConsolidateObj);
                            TimeSheetConsolidateObj = ClearMonthlyTimeSheetConsolidation(TimeSheetConsolidateObj);
                        }
                    }
                }
            </tbody>
        </table>

    }
    else
    {
        
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            @for (int i = 0; i < Model.Count; i++)
            {
                Int64 userID = Model[i].userID;
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="@("heading" + Model[i].userID)">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="@("#" + "collapse" + Model[i].userID)" aria-expanded="true" aria-controls="collapseOne">
                                <i class="more-less glyphicon glyphicon-plus"></i>
                                @Model[i].Name
                            </a>

                        </h4>
                    </div>
                    <div id="@("collapse" + Model[i].userID)" style="background-color:#ecf0f5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="@("heading" + Model[i].userID)">
                        <div class="panel-body">
                            <table class="table table-condensed table-striped table-hover dtatable">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayName("Date")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Day")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Shift")
                                        </th>
                                        <th>
                                            @Html.DisplayName("In Time")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Out Time")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Working Hours")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Status")
                                        </th>
                                        <th>
                                            @Html.DisplayName("LMS Status")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Late Entry")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Early Leave")
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @for (int j = i; j < Model.Count; j++)
                                    {
                                        string statusStyle = string.Empty;
                                        if (Model[j].Status == "Week Off" || Model[j].Status == "Holiday")
                                        {
                                            statusStyle = "weekoff";
                                        }
                                        else if (Model[j].WorkingHours < new TimeSpan(9, 0, 0) && Model[j].Status == "Present")
                                        {
                                            statusStyle = "belowworkinghours";
                                        }
                                        if (Model[j].userID != userID)
                                        {
                                            userID = Model[j].userID;
                                            i = j - 1;
                                            if (TimeSheetConsolidateObj.isWeeklyHoursUpdate)
                                            {
                                                @GetWeeklyHoursHTML(TimeSheetConsolidateObj)
                                                TimeSheetConsolidateObj=ClearWeeklyTimeSheetConsolidation(TimeSheetConsolidateObj);
                                            }
                                            if (TimeSheetConsolidateObj.isMonthlyHoursUpdate)
                                            {
                                                @GetMonthlyHoursHTML(TimeSheetConsolidateObj)
                                                TimeSheetConsolidateObj = ClearMonthlyTimeSheetConsolidation(TimeSheetConsolidateObj);
                                            }
                                            break;
                                        }

                                        <tr>
                                            <td>
                                                @if (Model[j].WorkingDate != null)
{
    @Model[j].WorkingDate.ToString("dd-MM-yyyy");
}
                                                else
                                                {
                                                    @Html.DisplayName("-")
                                                }
                                            </td>
                                            <td>

                                                @Model[j].WorkingDate.DayOfWeek

                                            </td>
                                            <td>

                                                @Model[j].Shift

                                            </td>
                                            <td>
                                                @if (Model[j].InTime == DateTime.MinValue)
{
    @Html.DisplayName("-")
                                                }
                                                else if (Model[j].InTime != null)
                                                {
                                                    @Model[j].InTime.ToString("HH:mm:ss");
                                                }

                                                else
                                                {
                                                    @Html.DisplayName("-")
                                                }
                                            </td>
                                            <td>

                                                @if (Model[j].OutTime == DateTime.MinValue)
{
    @Html.DisplayName("-")
                                                }
                                                else if (Model[j].OutTime != null)
                                                {
                                                    @Model[j].OutTime.ToString("HH:mm:ss")
                                                }
                                                else
                                                {
                                                    @Html.DisplayName("-")
                                                }
                                            </td>
                                            <td class="@statusStyle">
                                                @Model[j].WorkingHours
                                            </td>
                                            <td>
                                                @Model[j].Status
                                            </td>
                                            <td>
                                                @Model[j].LMSStatus
                                            </td>
                                            <td>
                                                @Model[j].LateEntry
                                            </td>
                                            <td>
                                                @Model[j].EarlyLeave
                                            </td>
                                        </tr>
                                        if (Model[j].WorkingDate.ToString("ddd") == "Mon")
                                        {
                                            TimeSheetConsolidateObj = CalculateTimeSheetConsolidation(Model[j], TimeSheetConsolidateObj);
                                            @GetWeeklyHoursHTML(TimeSheetConsolidateObj)
                                            TimeSheetConsolidateObj = ClearWeeklyTimeSheetConsolidation(TimeSheetConsolidateObj);
                                        }
                                        else
                                        {
                                            TimeSheetConsolidateObj = CalculateTimeSheetConsolidation(Model[j], TimeSheetConsolidateObj);
                                        }

                                        if (Model[j].WorkingDate.Day == 1 )
                                        {
                                            @GetMonthlyHoursHTML(TimeSheetConsolidateObj);
                                            TimeSheetConsolidateObj = ClearMonthlyTimeSheetConsolidation(TimeSheetConsolidateObj);
                                        }
                                        if (j == Model.Count - 1)
                                        {
                                            i = Model.Count - 1;
                                            if (TimeSheetConsolidateObj.isWeeklyHoursUpdate)
                                            {
                                                @GetWeeklyHoursHTML(TimeSheetConsolidateObj)
                                                TimeSheetConsolidateObj = ClearWeeklyTimeSheetConsolidation(TimeSheetConsolidateObj);
                                            }
                                            if (TimeSheetConsolidateObj.isMonthlyHoursUpdate)
                                            {
                                            @GetMonthlyHoursHTML(TimeSheetConsolidateObj)
                                              TimeSheetConsolidateObj = ClearMonthlyTimeSheetConsolidation(TimeSheetConsolidateObj);
                                            }
                                            break;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }
        </div>
    }

}

@functions
{
    public string GetWeeklyWorkingHours(TimeSpan t)
    {
        string totalHours = Math.Floor(t.TotalHours).ToString();
        if (totalHours.Length == 1)
        {
            totalHours = "0" + totalHours;
        }
        return string.Format("{0}:{1}", totalHours, t.ToString("mm\\:ss"));
    }

    public TimeSheetConsolidate CalculateTimeSheetConsolidation(TimeSheetModel TimeSheetModelObj, TimeSheetConsolidate TimeSheetConsolidateObj)
    {
        TimeSheetConsolidateObj.weeklyHours = TimeSheetConsolidateObj.weeklyHours + TimeSheetModelObj.WorkingHours;
        TimeSheetConsolidateObj.monthlyHours = TimeSheetConsolidateObj.monthlyHours + TimeSheetModelObj.WorkingHours;
        if(TimeSheetModelObj.LateEntry.Seconds>0)
        {
            TimeSheetConsolidateObj.weeklyLateCount = TimeSheetConsolidateObj.weeklyLateCount + 1;
            TimeSheetConsolidateObj.monthlyLateCount = TimeSheetConsolidateObj.monthlyLateCount +1;
        }
        if (TimeSheetModelObj.EarlyLeave.Seconds > 0)
        {
            TimeSheetConsolidateObj.weeklyEarlyCount = TimeSheetConsolidateObj.weeklyEarlyCount + 1;
            TimeSheetConsolidateObj.monthlyEarlyCount = TimeSheetConsolidateObj.monthlyEarlyCount +1;
        }
        if (!string.IsNullOrEmpty(TimeSheetModelObj.LMSStatus) &&
                TimeSheetModelObj.LMSStatus.Contains("Permission"))
        {
            TimeSheetConsolidateObj.weeklyPermissionCount = TimeSheetConsolidateObj.weeklyPermissionCount + 1;
            TimeSheetConsolidateObj.monthlyPermissionCount = TimeSheetConsolidateObj.monthlyPermissionCount + 1;
        }
        if (!string.IsNullOrEmpty(TimeSheetModelObj.LMSStatus) && TimeSheetModelObj.LMSStatus.Contains("Leave"))
        {
            TimeSheetConsolidateObj.weeklyLeaveCount = TimeSheetConsolidateObj.weeklyLeaveCount + 1;
            TimeSheetConsolidateObj.monthlyLeaveCount = TimeSheetConsolidateObj.monthlyLeaveCount + 1;
        }
        TimeSheetConsolidateObj.isWeeklyHoursUpdate = true;
        TimeSheetConsolidateObj.isMonthlyHoursUpdate = true;
        return TimeSheetConsolidateObj;
    }
    public TimeSheetConsolidate ClearWeeklyTimeSheetConsolidation( TimeSheetConsolidate TimeSheetConsolidateObj)
    {
        TimeSheetConsolidateObj.weeklyEarlyCount = 0;
        TimeSheetConsolidateObj.weeklyLateCount = 0;
        TimeSheetConsolidateObj.weeklyPermissionCount = 0;
        TimeSheetConsolidateObj.weeklyLeaveCount = 0;
        TimeSheetConsolidateObj.weeklyHours =new TimeSpan();
        TimeSheetConsolidateObj.isWeeklyHoursUpdate = false;

        return TimeSheetConsolidateObj;
    }
    public TimeSheetConsolidate ClearMonthlyTimeSheetConsolidation(TimeSheetConsolidate TimeSheetConsolidateObj)
    {
        TimeSheetConsolidateObj.monthlyEarlyCount = 0;
        TimeSheetConsolidateObj.monthlyLateCount = 0;
        TimeSheetConsolidateObj.monthlyPermissionCount = 0;
        TimeSheetConsolidateObj.monthlyLeaveCount = 0;
        TimeSheetConsolidateObj.monthlyHours = new TimeSpan();
        TimeSheetConsolidateObj.isMonthlyHoursUpdate = false;
        return TimeSheetConsolidateObj;
    }
}

@helper GetWeeklyHoursHTML(TimeSheetConsolidate TimeSheetConsolidateObj)
{
    <tr class="weeklytotal">
        <td>
            @Html.DisplayName("Weekly Hours")
            @Html.DisplayName(@GetWeeklyWorkingHours(TimeSheetConsolidateObj.weeklyHours))
        </td>
        <td></td>
        <td>
            @Html.DisplayName("No of Late")
            @Html.DisplayName(Convert.ToString(TimeSheetConsolidateObj.weeklyLateCount))
        </td>
        <td></td>
        <td>
            @Html.DisplayName("No Of Early")
            @Html.DisplayName(Convert.ToString(TimeSheetConsolidateObj.weeklyEarlyCount))
        </td>
        <td></td>
        <td>
            @Html.DisplayName("No of Permission")
            @Html.DisplayName(Convert.ToString(TimeSheetConsolidateObj.weeklyPermissionCount))
        </td>
        <td></td>
        <td>
            @Html.DisplayName("No of Leave")
            @Html.DisplayName(Convert.ToString(TimeSheetConsolidateObj.weeklyLeaveCount))
        </td>
        <td></td>
    </tr>
}
@helper GetMonthlyHoursHTML(TimeSheetConsolidate TimeSheetConsolidateObj)
{
    <tr class="monthlytotal">
        <td>
            @Html.DisplayName("Monthly Hours")
            @Html.DisplayName(@GetWeeklyWorkingHours(TimeSheetConsolidateObj.monthlyHours))
        </td>
        <td></td>
        <td>
            @Html.DisplayName("No of Late")
            @Html.DisplayName(Convert.ToString(TimeSheetConsolidateObj.monthlyLateCount))
        </td>
        <td></td>
        <td>
            @Html.DisplayName("No Of Early")
            @Html.DisplayName(Convert.ToString(TimeSheetConsolidateObj.monthlyEarlyCount))
        </td>
        <td></td>
        <td>
            @Html.DisplayName("No of Permission")
            @Html.DisplayName(Convert.ToString(TimeSheetConsolidateObj.monthlyPermissionCount))
        </td>
        <td></td>
        <td>
            @Html.DisplayName("No of Leave")
            @Html.DisplayName(Convert.ToString(TimeSheetConsolidateObj.monthlyLeaveCount))
        </td>
        <td></td>
    </tr>
}