


@model List<NLTD.EmployeePortal.LMS.Common.DisplayModel.LeaveTransactionDetail>
<script type="text/javascript" src="~/Scripts/lms.js?v=1.04"></script>
<style type="text/css">
    .panel-group .panel {
        border-radius: 0;
        box-shadow: none;
        border-color: #EEEEEE;
    }

    .panel-default > .panel-heading {
        padding: 0;
        border-radius: 0;
        color: #FFFFFF;
        background-color: #4894B3;
        border-color: #EEEEEE;
    }

    .panel-title {
        font-size: 12px;
    }

        .panel-title > a {
            display: block;
            padding: 9px;
            text-decoration: none;
        }

    .more-less {
        float: right;
        color: #212121;
    }

    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border-top-color: #EEEEEE;
    }

    /* ----- v CAN BE DELETED v ----- */
    body {
        background-color: #26a69a;
    }
</style>

@{
    if (Model.Count == 0)
    {
        <div id="alert" class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">x</span>
            </button>
            No matching records found.
        </div>
    }
    else
    {
        <div class="box-footer">
            <div id="conformBox"></div>
            <div class="col-sm-5" style="left:-15px;">
                <span style="font-weight:bold">Name: @Model[0].LeaveTransactiontHistoryModel[0].FirstName @Model[0].LeaveTransactiontHistoryModel[0].LastName</span>
            </div>
            <div class="col-sm-2" style="left:-15px;">
                <span style="font-weight:bold">Employee Id: @Model[0].LeaveTransactiontHistoryModel[0].EmployeeId</span>
            </div>
            <div class="col-sm-5" style="padding-right:0px">
                <span style="font-weight:bold">Reporting To: @Model[0].ReportingTo</span>
            </div>
        </div>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            @for (int i = 0; i < Model.Count; i++)
                {
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="@("heading" + Model[i].LeaveTypeId)">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="@("#" + "collapse" + Model[i].LeaveTypeId)" aria-expanded="true" aria-controls="collapseOne">
                                <i class="more-less glyphicon glyphicon-plus"></i>
                                @Model[i].LeaveType
                            </a>
                        </h4>
                    </div>
                    <div id="@("collapse" + Model[i].LeaveTypeId)" style="background-color:#ecf0f5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="@("heading" + Model[i].LeaveTypeId)">
                        <div class="panel-body">
                            @*<button type="button" class="btn btn-block" data-toggle="collapse" style="text-decoration:underline;color:darkblue;">View Transaction Log</button>*@
                            @*<div id="@("summary"+Model[i].LeaveTypeId)" class="collapse">
                                    <div id="@("divForCreate"+Model[i].LeaveTypeId)"></div>
                                </div>*@
                            @Html.Partial("~/Views/Admin/ViewTransactionLogSubDetailPartial.cshtml", Model[i].LeaveTransactiontHistoryModel)
                        </div>
                    </div>
                </div>
            }
        </div>
    }
}
