@model NLTD.EmployeePortal.LMS.Common.QueryModel.YearwiseLeaveSummaryQueryModel
<style type="text/css">
    .ui-autocomplete {
        height: 220px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    th {
        font-size: 11px;
    }

    td {
        font-size: 12px;
    }
</style>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

@section scripts
{
    <script src="~/Scripts/jquery-2.2.4.js"></script>
    <script src="~/Scripts/lms.js?v=1.04"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <script type="text/javascript">
        var nameList = [];
        $(document).ready(function () {
            $("#Name").keyup(function () {
                if ($("#Name").val() == "") {
                    $("#SearchUserID").val("");
                }
            });
        });
        $(function () {

            $("#Name").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Admin/GetEmployeeList",
                        type: "POST",
                        dataType: "json",
                        data: { term: request.term },
                        success: function (data) {
                            nameList = $.map(data, function (item) {
                                return { label: item.Name, value: item.UserId };
                            })
                            response(nameList);
                        }
                    })
                },
                select: function (event, ui) {
                    event.preventDefault();
                    $("#SearchUserID").val(ui.item.value);

                },
                focus: function (event, ui) {
                    event.preventDefault();
                    $("#Name").val(ui.item.label);
                    $("#SearchUserID").val(ui.item.value);
                },
                search: function (event, ui) {
                    $("#SearchUserID").val("");
                }
            });


        });

        function CheckAutoCompleteName() {
            if ($("#SearchUserID").val() == "") {
                SetUserIDForAutoCompleteName(nameList, $("#Name").val(), "SearchUserID");
                if (!ValidateAutocompleteName($("#Name").val(), $("#SearchUserID").val())) {
                    Clearshowalert("Please Choose a valid Username from the List.", "alert alert-danger");
                    return false;
                }
            }
            return true;
        }
    </script>
}
@{
    string title = string.Empty;
    if (ViewBag.RequestLevelPerson == "My")
    {
        title = "My Leave Balance Report";
    }
    else
    {
        title = "Team - Leave Balance Report";
    }
    if (Model.ErrorMsg != "" && Model.ErrorMsg != null)
    {
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">x</span>
            </button>
            @Model.ErrorMsg
        </div>
    }
    <div id="alert_placeholder" class="col-sm-12">

    </div>
    @Html.Hidden("RequestLevelPerson", (string)ViewBag.RequestLevelPerson)

    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@title</h3>
                </div>

                <div class="box-body">
                    <div class="row">
                        <form id="frmYearSummary" method="post" action='@Url.Action("ExportYearSummaryToExcel", new { RequestLevelPerson = (string)ViewBag.RequestLevelPerson })'>
                            @Html.HiddenFor(x => x.SearchUserID)
                            <div class="col-sm-2 pull-left">
                                @Html.Label("Year")

                                <select id="Year" name="Year" class="form-control">
                                    @{
                                        foreach (var item in (List<NLTD.EmployeePortal.LMS.Common.DisplayModel.DropDownItem>)ViewBag.YearsInLeaveBal)
                                        {

                                            <option value="@item.Key">@item.Value</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-sm-5">
                                @{ if ((string)ViewBag.RequestLevelPerson != "My")
                                    {
                                        @Html.Label("Name")
                                        @Html.TextBox("Name", Model.Name, new { @class = "form-control" })
                                    }
                                }
                            </div>
                            <div class="col-sm-2" style="padding-top:25px;">
                                @{ if ((string)ViewBag.RequestLevelPerson == "Team")
                                    {
                                        <p> @Html.CheckBoxFor(m => m.OnlyReportedToMe)   My Direct Reportees</p>

                                    }

                                }
                            </div>

                            <div class="col-sm-1 " style="padding-top:25px;">
                                <button type="button" class="btn btn-primary" onclick="loadYearwiseLeaveSummary()">SEARCH</button>
                            </div>
                            <div class="col-sm-2" style="padding-top:25px;">
                                <input type='submit' class="btn btn-primary pull-right" value='EXPORT TO EXCEL' onclick="return CheckAutoCompleteName()" />
                            </div>


                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="divForLeaveSummary" class="col-sm-12"></div>



}



