

@model IList<NLTD.EmployeePortal.LMS.Common.DisplayModel.EmployeeWiseLeaveSummaryModel>



<table id="table_id"
       class="table table-condensed table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Emp Id")
            </th>
            <th>
                @Html.DisplayName("Name")
            </th>
            <th>
                @Html.DisplayName("Request Type")
            </th>
            <th>
                @Html.DisplayName("Total Leaves")
            </th>
            <th>
                @Html.DisplayName("Used Leaves")
            </th>
            <th>
                @Html.DisplayName("Pending Approval")
            </th>
            <th>
                @Html.DisplayName("Balance")
            </th>
         
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmpID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveType)
                </td>
                <td>                    
                   
                    @Html.Label("", (item.AdjustLeaveBalance == false ? "NA" : item.TotalLeaves.ToString()),new { style = "font-weight:normal" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsedLeaves)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PendingApproval)
                </td>
                <td>
                   
                    @Html.Label("", (item.AdjustLeaveBalance == false ? "NA" : item.BalanceLeaves.ToString()), new { style = "font-weight:normal" })
                </td>
                
            </tr>
        }
    </tbody>
</table>



