@model IList<NLTD.EmployeePortal.LMS.Common.DisplayModel.ShiftEmployees>
<script>
    var table;
    $("document").ready(function () {
        table = $('#addShiftDetail').DataTable({
            columnDefs: [
                { targets: 'no-sort', orderable: false, searchable: false }
            ],
            order: [[1, 'asc']]
        });

        $('#select-all').on('click', function () {
            var rows = table.rows({ 'search': 'applied' }).nodes();
            $('input[type="checkbox"]', rows).prop('checked', this.checked);
        });

        $('#addShiftDetail tbody').on('change', 'input[type="checkbox"]', function () {
            // If checkbox is not checked
            var rows = table.rows({ 'search': 'applied' }).nodes();
            var allCheckbox = $('input[type="checkbox"]', rows)
            var selectall = false;
            var checkedCount = 0;
            for (var i = 0; i < allCheckbox.length; i++) {
                if (allCheckbox[i].checked)
                {
                    checkedCount = checkedCount + 1;
                }
            }
            var el = $('#select-all').get(0);
            if (checkedCount == allCheckbox.length)
            {
               // el.indeterminate = false;
                el.checked = true;
            }
            else
            {
              //  $('#select-all').prop("checked", false);
                el.checked = false;
            }

        });
    });
</script>
<table id="addShiftDetail"
       class="table table-condensed table-striped table-hover">
    <thead>
        <tr>
            <th class="no-sort" style="text-align: center !important;"><input type="checkbox" name="select_all" value="1" id="select-all" /></th>
            <th>
                @Html.DisplayName("Emp Id")
            </th>
            <th>
                @Html.DisplayName("Name")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td class="dt-body-center">@Html.CheckBox("Check", new { @value = item.UserId })</td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmpId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            </tr>
        }
    </tbody>
</table>