@model NLTD.EmployeePortal.LMS.Common.DisplayModel.Shifts

<script>
    $(function () {
        $('.timepicker').timepicker({
            timeFormat: "HH:mm:ss"
        });
    });
</script>
<div class="box-body">
    <div class="row">
        <div class="col-sm-4">
            @Html.Label("Shift Description")
            @Html.TextBox("ShiftName", Model.ShiftName, new { @class = "form-control",@id= "ShiftName" })
        </div>
        <div class="col-sm-4">
            @Html.Label("StartTime ")
            @Html.TextBox("fromTime", Model.FromTime, new { @class = "form-control timepicker", @id = "fromTime" })
        </div>
        <div class="col-sm-4">
            @Html.Label("EndTime")
            @Html.TextBox("toTime", Model.ToTime, new { @class = "form-control timepicker", @id = "toTime" })
        </div>
        @Html.Hidden("StudentId", Model.ShiftId, new { @id = "ShiftId" })
    </div>
</div>

