@model IList<NLTD.EmployeePortal.LMS.Common.DisplayModel.ShiftAllocation>

<table id="ShiftDetail"
       class="table table-condensed table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Emp Id")
            </th>
            <th>
                @Html.DisplayName("Name")
            </th>
            <th>
                @Html.DisplayName("ShiftName")
            </th>
            <th>
                @Html.DisplayName("ShiftDate")
            </th>
            <th>
                @Html.DisplayName("FromTime")
            </th>
            <th>
                @Html.DisplayName("ToTime")
            </th>
            <th class="no-sort">
                @Html.DisplayName("Action")
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            var ShiftDate = item.ShiftDate.ToString("dd-MM-yyyy");
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmpId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShiftName)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.ShiftID)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => ShiftDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FromTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToTime)
                </td>
                <td>
                <button type="button" class="btn btn-primary" onclick="AddPopup(@item.ShiftMappingID)">EDIT</button>
                </td>
            </tr>
        }
    </tbody>
</table>