
@model IList<NLTD.EmployeePortal.LMS.Common.DisplayModel.Shifts>
<table id="ShiftDetail"
       class="table table-condensed table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("ShiftID")
            </th>
            <th>
                @Html.DisplayName("ShiftName")
            </th>
            <th>
                @Html.DisplayName("FromTime")
            </th>
            <th>
                @Html.DisplayName("ToTime")
            </th>

            <th class="no-sort">
                @Html.DisplayName("Action")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.ShiftId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShiftName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FromTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToTime)
                </td>

                <td>
                    <button type="button" class="btn btn-primary" onclick="AddShiftPopup(@item.ShiftId)">EDIT</button>
                </td>
            </tr>
        }
    </tbody>
</table>

