@model NLTD.EmployeePortal.LMS.Common.DisplayModel.EmployeeShifts
<style type="text/css">
    .ui-autocomplete {
        height: 220px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    th {
        font-size: 11px;
    }

    td {
        font-size: 12px;
    }
</style>
<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="~/Scripts/daterangepicker.js"></script>
<link href="~/Content/daterangepicker.css" rel="stylesheet" />
@section scripts
{
    <script src="~/Scripts/jquery-2.2.4.js"></script>
    <script src="~/Scripts/lms.js?v=1.08"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>
    <link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
    <script src="~/Scripts/moment.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
}
@{
    <script>
        $(function () {
            var year = (new Date()).getFullYear();
            var firstDate = new Date(year, 0, 1);
            var lastDate = new Date(year, 11, 31)
            $('#FromDate').datetimepicker(
                {
                    viewMode: "days",
                    format: "DD-MM-YYYY",
                    minDate: firstDate,
                    maxDate: lastDate
                }
            );
            $('#ToDate').datetimepicker(
                {
                    viewMode: "days",
                    format: "DD-MM-YYYY",
                    minDate: firstDate,
                    maxDate: lastDate
                }
            );
        });
    </script>

    @Html.Hidden("RequestLevelPerson", (string)ViewBag.RequestLevelPerson)
    string Title = ((string)ViewBag.RequestLevelPerson == "Team") ? "Team" : "Multiple Employees";
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Shift Allocation - @Title</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-3">
                            @Html.Label("From Date", new { @class = "required" })
                            @Html.TextBox("FromDate", "", new { @class = "form-control datetpicker" })
                        </div>
                        <div class="col-sm-3">
                            @Html.Label("To Date", new { @class = "required" })
                            @Html.TextBox("ToDate", "", new { @class = "form-control datetpicker" })
                        </div>
                        <div class="col-sm-3">
                            @Html.Label("Shift", new { @class = "required" })
                            @Html.DropDownList("Shift", new SelectList(Model.Shifts, "ShiftId", "Shift"), new { @class = "form-control" })
                        </div>
                        <div class="col-sm-3" style="padding-top:27px;">
                            <button type="button" class="btn btn-primary pull-right" onclick="SaveEmployeeShift();">UPDATE SHIFT</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="alert_placeholder"></div>
    <div id="divForAddShift">
        @Html.Partial("~/Views/Shift/AddOrEditShiftAllocation.cshtml", Model.shiftEmployees)
    </div>
}