@model IList<NLTD.EmployeePortal.LMS.Common.DisplayModel.NoOfLateInMonth>
<script type="text/javascript" src="~/Scripts/lms.js?v=1.08"></script>
<script>
    jQuery.extend(jQuery.fn.dataTableExt.oSort, {
        "date-eu-pre": function (date) {
            date = date.replace(" ", "");

            if (!date) {
                return 0;
            }

            var year;
            var eu_date = date.split(/[\.\-\/]/);

            /*year (optional)*/
            if (eu_date[2]) {
                year = eu_date[2];
            }
            else {
                year = 0;
            }

            /*month*/
            var month = eu_date[1];
            if (month.length == 1) {
                month = 0 + month;
            }

            /*day*/
            var day = eu_date[0];
            if (day.length == 1) {
                day = 0 + day;
            }

            return (year + month + day) * 1;
        },

        "date-eu-asc": function (a, b) {
            return ((a < b) ? -1 : ((a > b) ? 1 : 0));
        },

        "date-eu-desc": function (a, b) {
            return ((a < b) ? 1 : ((a > b) ? -1 : 0));
        }
    });
</script>
<style type="text/css">
    .panel-group .panel {
        border-radius: 0;
        box-shadow: none;
        border-color: #EEEEEE;
    }

    .panel-default > .panel-heading {
        padding: 0;
        border-radius: 0;
        color: #FFFFFF;
        background-color: #4894B3;
        border-color: #EEEEEE;
    }

    .panel-title {
        font-size: 12px;
    }

        .panel-title > a {
            display: block;
            padding: 9px;
            text-decoration: none;
        }

    .more-less {
        float: right;
        color: #212121;
    }

    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border-top-color: #EEEEEE;
    }

    /* ----- v CAN BE DELETED v ----- */
    body {
        background-color: #26a69a;
    }

    .belowworkinghours {
        color: red;
    }

    .weekoff {
        color: dodgerblue;
    }
</style>

@if (Model.Count == 0)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">x</span>
        </button>
        No matching records found.
    </div>

}
else
{
        <table id="NoOfLate"
               class="table table-condensed table-striped table-hover dtatable">
            <thead>

                <tr>
                    <th>@Html.DisplayName("Employee Id")</th>
                    <th>
                        @Html.DisplayName("Name")
                    </th>
                    <th>
                        @Html.DisplayName("Reporting To")
                    </th>
                    <th>
                        @Html.DisplayName("No Of Late")
                    </th>
                </tr>
            </thead>

            <tbody>
                  @foreach (var item in Model)
                    {
                       <tr><td>
                                @item.EmpId
                            </td>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @item.ReportingTo
                            </td>
                           <td>
                               @item.NoOfLate
                           </td>
                        </tr>
                    }
            </tbody>
        </table>
}